[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=time-admin
Name[en_US]=Monitor LGR clock status
Exec=mate-terminal -e 'watch "ntpq -pn 10.42.0.174"'
Comment[en_US]=Launch an NTP monitoring window
Name=Monitor LGR clock status
Comment=Launch an NTP monitoring window
Icon=time-admin
