[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=Open LGR commmand line
Exec=mate-terminal -e 'ssh lgr'
Comment[en_US]=Launch an ssh session with LGR analyzer
Name=Open LGR commmand line
Comment=Launch an ssh session with LGR analyzer
Icon=/usr/share/pixmaps/gksu-root-terminal.png
